html, body{
    background: #130125 !important;
    scroll-behavior:smooth;
}
*{
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    width: 1280px;
    color: white;
    background-color: #130125;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}
.logo a {
    color: white;
    text-decoration: none;
    font-family: 'Courier New', arial;
    font-size: 32px;
    font-weight: 700;
}
nav ul {
    display: flex;
}
nav ul li {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    list-style: none;
    margin-left: 32px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
section{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
section .container{
    margin: 160px auto;
}
.promo-title-text-main{
    font-family: 'Courier New', arial;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
}
.promo-title-text-extra{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 0 30px 0;
}
.promo-btn{
    background-color: #FD5A14;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 16px 24px;
    border-radius: 4px;
    border: none;
}
.promo-btn:hover{
    background-color: #FD5A1490;
}

.about .container{
    display: flex;
    justify-content: space-between;
}
.about-img{
    width: 280px;
    height: auto;
    border: 4px solid #FD5A14;
}
.about-info-list{
    display: flex;
}
.about-info-list ul{
    list-style: none;
    padding-left: 0;
    margin-right: 30px;
    margin-top: 40px;
  
}
.about-info-list ul li{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
.about-info-list ul li::before{
    content: "\2713"; 
    color: white;  
    font-weight: bold;
    padding-right: 10px;
    font-size: 20px;
}
.about-info-main{
    font-family: 'Courier New', arial;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 40px;
}
.about-info-extra p {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.exp-title{
    font-family: 'Courier New', arial;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 25px;
}
.exp-list-elem{
    padding-top: 48px;
    display: flex;
}
.exp-list-elem-year{
    font-family: 'Courier New', arial;
    font-size: 12px;
    font-weight: 700;
    padding-top: 9px;
}
.exp-list-elem-data{
    padding-left: 30px;
}
.exp-list-elem-data ul{
    list-style: none;
    padding-left: 0; 
}
.exp-list-elem-data ul li{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.exp-list-elem-data .city{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.exp-list-elem-data .info{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.exp-list-elem-data ul li::before{
    content: "\2713"; 
    color: #FD5A14;
    font-weight: bold;
    padding-right: 10px;
    font-size: 20px;
}

.projects-main-title{
    font-family: 'Courier New', arial;
    font-size: 60px;
    font-weight: 700;
}
.project{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    align-items: center;
}
.project-img{
    width: 626px;
    height: auto;
    border: 4px solid #FD5A14;
}
.project-detail{
    width: 500px;
}
.project-name{
    font-family: 'Courier New', arial;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 30px;
}
.project-description{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

footer{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
footer .container{
    display: flex;
    justify-content: space-between;
    padding: 42px 0;
}
.underlined{
    text-decoration: underline;
}
.footer-main-text{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.credits{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF50;
}
/* .test{
    font-family: 'Courier New', arial;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
} */