html{
    background-color: #130125;
}
*{
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    width: 1280px;
    color: white;
}
.test{
    font-family: 'Courier New', arial;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
}